<div style="display: flex; justify-content: center;">
    <form [formGroup]="form">
        <div [style.margin-bottom]="!!form.get('name')?.errors && form.get('name')?.touched ? '15px' : ''">
            <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Name</mat-label>
                <input matInput id="name" type="text" formControlName="name" [errorStateMatcher]="matcher">
                @if (form.get('name')?.hasError('required')) {
                    <mat-error>Name is required</mat-error>
                }
            </mat-form-field>
        </div>

        <div formArrayName="creators">
            @for(creator of creators.controls; track creator; let i=$index; let first=$first; let last=$last;) {
                <div [style.margin-bottom]="!!creator?.errors && creator.touched ? '15px' : ''">
                    <mat-form-field appearance="outline" style="padding-right: 16px; width: 212px;" hideRequiredMarker="true">
                        <mat-label>Creator</mat-label>
                        <input matInput id="creator-{{ i }}" type="text" [formControlName]="i" formControlName="creators" [errorStateMatcher]="matcher">
                        @if (!first) {
                            <mat-icon matSuffix aria-hidden="false" aria-label="Close icon" fontIcon="close" (click)="removeCreator(i)"> </mat-icon>
                        }
                        @if (creator.hasError('required')) {
                            <mat-error>Creator is required</mat-error>
                        }
                    </mat-form-field>
                    @if (last) {
                        <ng-container><button mat-raised-button color="primary" (click)="addCreator()">+ Add another creator</button></ng-container>
                    }
                </div>
            }
            
        </div>

        <div formArrayName="extensions">
            @for(extension of extensions.controls; track extension; let i=$index; let first=$first; let last=$last;) {
                <div [style.margin-bottom]="!!extension?.errors && extension.touched ? extension.hasError('required') ? '15px' : '45px' : ''">
                <mat-form-field appearance="outline" style="padding-right: 16px; width: 212px;" hideRequiredMarker="true">
                    <mat-label>Extension</mat-label>
                    <input matInput id="extension-{{ i }}" type="text" [formControlName]="i" formControlName="extensions" [errorStateMatcher]="matcher">
                    @if (!first) {
                        <mat-icon matSuffix aria-hidden="false" aria-label="Close icon" fontIcon="close" (click)="removeExtension(i)"> </mat-icon>
                    }
                    @if (extension.hasError('required')) {
                        <mat-error>Extension is required</mat-error>
                    } @else if (extension.hasError('pattern')) {
                        <mat-error>Extension must start with a dot and contain no spaces or special characters</mat-error>
                    }
                </mat-form-field>
                @if (last) {
                    <ng-container>
                        <button mat-raised-button color="primary" (click)="addExtension()">+ Add another extension</button>
                    </ng-container>
                }
            </div>
            }
        </div>

        <div [style.margin-bottom]="!!form.get('firstAppeared')?.errors && form.get('firstAppeared')?.touched ? '30px' : ''">
            <mat-form-field appearance="outline" hideRequiredMarker="true" style="width: 212px;">
                <mat-label>First Appeared</mat-label>
                <input matInput id="firstAppeared" formControlName="firstAppeared" [min]="startOf1900" [max]="currentDate" [matDatepicker]="picker" [errorStateMatcher]="matcher">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (form.get('firstAppeared')?.hasError('matDatepickerMax')) {
                    <mat-error>First Appeared cannot be in the future</mat-error>
                } @else if (form.get('firstAppeared')?.hasError('matDatepickerMin')) {
                    <mat-error>First Appeared must be at least in the year 1900</mat-error>
                }
            </mat-form-field>
        </div>

        <div [style.margin-bottom]="!!form.get('year')?.errors && form.get('year')?.touched ? form.get('year')?.hasError('min') || form.get('year')?.hasError('required') ? '15px' : '30px' : ''">
            <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Year</mat-label>
                <input matInput type="number" appDigitOnly pattern="\d+" [min]="1900" [max]=currentYear id="year" formControlName="year" [errorStateMatcher]="matcher">
                @if (form.get('year')?.hasError('required')) {
                    <mat-error>Year is required</mat-error>
                } @else if (form.get('year')?.hasError('max')) {
                    <mat-error>Year must not exceed current year</mat-error>
                } @else if (form.get('year')?.hasError('min')) {
                    <mat-error>Year must be at least 1900</mat-error>
                } @else if (form.get('year')?.hasError('pattern')) {
                    <mat-error>Year must not contain a decimal point</mat-error>
                }
            </mat-form-field>
        </div>
        
        <div [style.margin-bottom]="!!form.get('wiki')?.errors && form.get('wiki')?.touched ? '15px' : ''">
            <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Wiki</mat-label>
                <input matInput id="wiki" type="url" formControlName="wiki" [errorStateMatcher]="matcher">
                @if (form.get('wiki')?.hasError('required')) {
                    <mat-error>Wiki is required</mat-error>
                } @else if (form.get('wiki')?.hasError('pattern')) {
                    <mat-error>Wiki must be a url</mat-error>
                }
            </mat-form-field>
        </div>

        <button mat-raised-button color="warn" (click)="cancelSubmission()" style="margin-right: 15px;">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
    </form>
</div>
  